name: CI de Laboratorio 6
on: [push, pull_request]

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Clonar codigo
        uses: actions/checkout@v4

      - name: Instalar Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Instalar dependencias
        run: npm install

      - name: Revisar estilo (Lint)
        run: npm run lint

      - name: Ejecutar Pruebas (Test)
        run: npm test